@import "../variables.scss";

header {
  display: flex;
  gap: 30px;

  .icon {
    height: 180px;
    width: 180px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h2 {
      font-size: 2.5em;
      margin-block-end: 10px;
      margin-block-start: 0.75em;
      color: $black;
    }

    span {
      font-weight: 500;
      font-size: 1.1em;

      .socraft {
        color: $yellow;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 670px) {
    flex-direction: column;
    gap: 10px;

    h2 {
      margin-block-start: 0 !important;
    }
  }
}

footer {
  margin-top: 1em;
  display: flex;
  gap: 30px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    flex-grow: 1;

    span {
      font-weight: 500;
      font-size: 1em;

      .socraft {
        color: $yellow;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 670px) {
    flex-direction: column;
    gap: 10px;

    h2 {
      margin-block-start: 0 !important;
    }
  }
}

.contracts {
  display: flex;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
  margin: 2em 0;

  .contract {
    border: solid 1px #28282820;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: $white;
    max-width: 100%;
    width: 300px;

    .name {
      font-size: 1.2em;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .text {
        display: flex;
        align-items: center;
        gap: 10px;

        .color {
          height: 15px;
          width: 15px;
          border-radius: 5px;
        }
      }

      .delete {
        cursor: pointer;
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      margin: 1em 0 0 0;
      gap: 5px;
    }

    input {
      margin: 1em 0 0 0;
    }
  }

  .add-contract-button {
    background-color: $white;
    height: 130px;
    width: 130px;
    border: solid 1px #28282820;
    font-size: 3em;
    cursor: pointer;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms linear;

    &:hover {
      opacity: 0.5;
    }
  }
}

.chart {
  width: calc(100% - 1em) !important;
  height: min(100vw, 800px) !important;
  border: solid 1px #28282820;
  border-radius: 10px;
  margin: 1.5em 0 0 0;
  padding: 0.5em 0 1em 1em;
  font-size: 1.5em;
  background-color: $white;
}

.no-data {
  height: min(100vw, 800px);
  width: calc(100% - 1em) !important;
  border: solid 1px #28282820;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
  padding: 0.5em 0 1em 1em;
  background-color: $white;
}
