@import "../variables.scss";

header {
  display: flex;
  gap: 30px;

  .icon {
    height: 180px;
    width: 180px;
  }

  .text {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2.5em;
      margin-block-end: 10px;
      margin-block-start: 1.5em;
      color: $black;
    }

    span {
      font-weight: 500;
      font-size: 1.1em;
      opacity: 0.4;
    }
  }
}

.estimated-cost-input {
  margin: 2em 0;
  font-size: 1em;
}

.franchises {
  display: flex;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;

  .franchise {
    border: solid 2px #28282820;
    padding: 1em 2.5em;
    border-radius: 10px;

    .name {
      font-size: 1.5em;
      font-weight: 600;
    }

    .infos {
      display: flex;
      flex-direction: column;
      margin: 1em 0 0 0;
      gap: 5px;
    }
  }

  .add-franchise-button {
    background-color: $white;
    height: 130px;
    width: 130px;
    border: solid 1px #28282820;
    font-size: 3em;
    cursor: pointer;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms linear;

    &:hover {
      opacity: 0.5;
    }
  }
}

.chart {
  width: 100% !important;
  height: 800px !important;
}
